body{
  background-color: lightgray;
}


#content{
  background-color: white;
  width: inherit;
}

#content .row {
}
#sidebar {
  background-color: lightgray;
}

.right {
  text-align: right;
}

.green-style {
  background-color: #ebf9ea;
  padding-top: 10px;
  border: 1px solid #bcffbc;
}

.blue-style {
  background-color: #f2f3ff;
  padding-top: 10px;
}

.logo {
  max-width: 100px;
}
