body{
  background-color: #f5f5f5;
}


#content{
  background-color: white;
  width: inherit;
}

#content .row {
}

.right {
  text-align: right;

}

.gray-style{
  background-color: #f5f5f5;
}

.white-style{
  background-color: white;
}

.green-style {
  background-color: #ebf9ea;
  padding-top: 10px;
  border: 1px solid #bcffbc;
}

.blue-style {
  background-color: #f2f3ff;
  padding-top: 10px;
}

.logo {
  max-width: 100px;
}

.welcome-page{
  background: linear-gradient(white, #f5f5f5);
}

.headfix {
  height: 137px;
}

.headfix ul {
  padding-top: 30px;
}
